
<body>
  
    <div class="container">
      <aside class="aside-color">
        <ul class="list-aside">
          <div>
            <li><a [routerLink]="['/inicio']" class="links">Registrar delito</a></li>
            <li><a [routerLink]="['/listar-delitos']" class="links">Reportes</a></li>
            <li><a href="" class="links">hola</a></li>
            <li><a href="" class="links">hola</a></li>
            <li><a href="" class="links">hola</a></li>
          </div>
          <div>
            <p><a (click)="logout()">Log out</a></p>
          </div>
        </ul>
      </aside>

      <div class="cont-card row m-0 d-flex justify-content-center flex-wrap"  > 
          <ion-item *ngFor="let delito of delito" ><!--delito(usar aca) of delito(del componente)-->
            <ion-card class="cardDelito" >
              <img src="" alt="">
              <ion-card-header>
                <ion-card-title> Número de reporte: {{delito}}</ion-card-title>
                <ion-card-subtitle>Fecha delito: {{delito.dia}} / {{delito.mes}} / {{delito.anio}}</ion-card-subtitle>
              </ion-card-header>
                <ion-card-content>Nombre víctima: {{delito.nombre_vic}}</ion-card-content>
              <button  class="btn-report justify-content-center" (click)="openModal(delito)">Ver reporte</button>
            </ion-card>
          </ion-item>
      </div> 
    </div>


</body>  