
.container {
    display: flex;
}

.cont-card{
    display: flex;
    width: 100%;/* El restante espacio para la carta */
    padding: 20px;
    flex-wrap: wrap;
}

.cardDelito {
    width: 100%; /* Tamaño de las tarjetas */
    height: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
}

.cardDelito:hover {
    transform: translateY(-10px); /* Mueve la tarjeta hacia arriba */
    box-shadow: 0 6px 12px rgba(0,0,0,0.2); /* Aumenta la sombra para el efecto levantado */
}

.btn-report{
    width: 100%;
    background-color: #00234c;  /* Color de fondo */
    color: #ffd100;              /* Color del texto */        
    padding: 10px 20px;         /* Ajuste de padding para un botón más grande */
    border-radius: 10px;         /* Bordes redondeados */
    border: none;               /* Sin bordes adicionales */
    font-size: 16px;            /* Tamaño del texto */
    transition: transform 0.2s ease-in-out; /* Animación suave */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.btn-report:hover {
  transform: scale(1.05); /* Agrandar un poco cuando pases el mouse */
}

///////////////////////////////////////////////////////////////////////////////
// ASIDE // ASIDE // ASIDE // 
.list-aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
}

.aside-color{
    background-color: #00234c;
    padding: 20px;
    width: 20vw;
}

.aside-color .list-aside{
    list-style: none;
    padding: 0;
}

.aside-color .list-aside li{
    padding: 5px;
    margin: 10px;
    transition: ease-in .3s;
}

.aside-color .list-aside li a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.aside-color .list-aside li:hover{
    background-color: #e6bc02;
    transition:  .5s;
    margin: 10px 5px;
}

// ASIDE // ASIDE // ASIDE // 
///////////////////////////////////////////////////////////////////////////////