.cont-delito{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Para centrar verticalmente */
    width: 100%;
    max-width: 500px;
    
}

.container {
    display: flex;
}


.aside-color{
    background-color: #00234c;
    padding: 20px;
    width: 20vw;
}

.aside-color .list-aside{
    list-style: none;
    padding: 0;
}

.aside-color .list-aside li{
    padding: 5px;
    margin: 10px;
    transition: ease-in .3s;

}

.aside-color .list-aside li a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.aside-color .list-aside li:hover{
    background-color: #e6bc02;
    transition:  .5s;
    margin: 10px 5px;
}


.cont-delito{
    height: 100vh;
    max-width: 80vw;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;

}

.cont-delito form{
    
}
.list-aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
}